body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding-top: 0;
  
}


.grid {
display: flex;
justify-content: space-around;

}


}

#featured-products {
  text-align: center;
}

#featured-img-tag {
  max-width: 300px; /* Ensure the image doesn't exceed its container width */
  height: auto;   /* Maintain the image's aspect ratio */
  border: 1px solid rgb(16, 103, 48); /* Optional: Add a border for aesthetics */
  margin-bottom: 20px;
}

.fire {
  font-size: 1em;
  animation: flicker 3s infinite;
  display: inline-block;
}
@keyframes flicker {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}


header {
  background-color: rgb(70, 34, 123);
  color: white;
  text-align: center;
  
  padding: 1em;
  padding: 5px;
  border-radius: 10px;
  border-color: rgb(70, 34, 123);

  
}

 #navModal {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

        #navModal a {
            padding: 15px 32px;
            text-decoration: none;
            font-size: 22px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

        #navModal a:hover {
            color: #f1f1f1;
        }

        #navModal .closeBtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        #openNav {
            font-size: 30px;
            cursor: pointer;
            position: fixed;
            left: 20px;
            top: 20px;
            z-index: 2;
        }

        #openNav:hover {
            color: #f1f1f1;
        }


main {
  padding: 20px;
  border-radius: 20px;
  border-radius: 10px;
  border-color: rgb(70, 34, 123);
  
}

.product {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}


.product img {
  max-width: 300px;
  height: auto;
  cursor: pointer;
}



.product-details p {
   
  font-weight: bold;
}

.price {
  font-weight: bold;
  
}




button {
  background-color: rgb(70, 34, 123);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: rgb(70, 34, 123);
}

#cart-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 2;
  border-color: rgb(70, 34, 123);
  border-radius: 20px;
  border-style: solid;
}

#cart-modal-content {
  list-style: none;
  padding: 0;
}

#cart-modal-content li {
  margin-bottom: 10px;
}

#cart-modal button {
  background-color: rgb(70, 34, 123);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#cart-modal button:hover {
  background-color: #228B22; /* Change to your desired hover color */
}

#checkout {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(70, 34, 123);
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#checkout:hover {
  background-color: #555;
}

footer {
  padding: 1em;
  background-color: rgb(70, 34, 123);
  color: white;
  text-align: center;
  border-radius: 10px;
  border-color: rgb(70, 34, 123);
}
